@charset "UTF-8";
.headerCBR {
  height: 100%;
  background-color: white;
  text-align: center;
  background-image: url("./assets/img/header1.jfif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.headerCBR .bgHeader {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
.headerCBR .containerHeader {
  width: 75%;
  margin: auto;
  padding: 40px 0;
}
.headerCBR .containerHeader h1 {
  display: inline;
  font-size: 28px;
  font-weight: 900;
  background-color: rgba(255, 255, 255, 0.92);
  color: #535796;
}
.headerCBR .containerHeader p {
  display: inline;
  line-height: 1em;
  margin-top: 25px;
  background-color: rgba(255, 255, 255, 0.92);
  color: #777;
  font-weight: 400;
}
.headerCBR .containerHeader p:nth-last-child(1) {
  font-size: 0.9em;
  background-color: transparent;
}
.headerCBR .containerHeader iframe {
  width: 100%;
  min-height: 35vh;
  margin: 20px 0;
  border-radius: 12px;
}
.headerCBR .containerHeader button {
  padding: 12px 5px;
  line-height: 1em;
  background-color: #f40;
  box-shadow: 0 8px 1px #cc3600;
  color: white;
  border: none;
  border-radius: 14px;
  width: 100%;
}

.resultadosUm {
  background-image: url("./assets/img/patas.jfif");
  background-repeat: repeat;
  background-size: fill;
}
.resultadosUm .bgResultadosUm {
  background-color: rgba(255, 255, 255, 0.95);
}

.metodoUm {
  height: 100%;
  width: 100%;
  background-color: #535796;
  padding: 40px 0;
}
.metodoUm .conteudoMetodoUm {
  width: 75%;
  margin: 0px auto;
}
.metodoUm .conteudoMetodoUm h2 {
  line-height: 1em;
  text-align: center;
  color: white;
}
.metodoUm .conteudoMetodoUm p {
  line-height: 1.5em;
  text-align: center;
  color: white;
  font-weight: 400;
  margin: 35px 0;
}
.metodoUm .conteudoMetodoUm p strong {
  font-weight: 600;
}

.metodoDois {
  height: 100%;
  width: 100%;
  background-color: white;
  padding: 40px 0;
}
.metodoDois .conteudoMetodoDois {
  width: 75%;
  margin: 0px auto;
}
.metodoDois .conteudoMetodoDois h2 {
  line-height: 1em;
  text-align: center;
  color: #535796;
  max-width: 30ch;
}
.metodoDois .conteudoMetodoDois p {
  line-height: 1.5em;
  text-align: center;
  color: gray;
  font-weight: 400;
  margin: 35px 0;
}
.metodoDois .conteudoMetodoDois p strong {
  font-weight: 600;
}
.metodoDois .conteudoMetodoDois .btnSatisfacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.metodoDois .conteudoMetodoDois .btnSatisfacao button {
  padding: 5px 8px;
  line-height: 22px;
  background-color: #f40;
  box-shadow: 0 8px 1px #cc3600;
  color: white;
  border: none;
  border-radius: 14px;
  height: 60px;
  width: 100%;
}
.metodoDois .conteudoMetodoDois .btnSatisfacao p {
  font-size: 0.9em;
}
.metodoDois .conteudoMetodoDois .btnSatisfacao img {
  width: 80%;
  margin: 10px 0;
}

.pqServe {
  height: 100%;
  width: 100%;
  padding: 40px 0;
  background-color: #535796;
}
.pqServe .conteudoPqServe {
  width: 75%;
  margin: auto;
}
.pqServe .conteudoPqServe h2 {
  line-height: 1em;
  text-align: center;
  color: white;
}
.pqServe .conteudoPqServe p {
  font-weight: 400;
  color: white;
  text-align: center;
}
.pqServe .conteudoPqServe .gridPqServe {
  height: 60vh;
  display: grid;
  grid-template: 45% 45%/auto auto;
  grid-gap: 5px;
  justify-content: center;
  align-items: center;
}
.pqServe .conteudoPqServe .gridPqServe div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pqServe .conteudoPqServe .gridPqServe div svg {
  color: white;
}
.pqServe .conteudoPqServe .gridPqServe div p {
  text-align: center;
  color: white;
  font-weight: 400;
}

.depoimentoUnico {
  height: 100%;
  padding: 40px 0;
  background-color: #ECECEB;
}
.depoimentoUnico .conteudoDepoimentoUnico {
  width: 75%;
  margin: auto;
}
.depoimentoUnico .conteudoDepoimentoUnico h2 {
  color: #535796;
}
.depoimentoUnico .conteudoDepoimentoUnico div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.depoimentoUnico .conteudoDepoimentoUnico div .quoteUm {
  color: #535796;
  align-self: flex-start;
}
.depoimentoUnico .conteudoDepoimentoUnico div .quoteDois {
  color: #535796;
  align-self: flex-end;
}
.depoimentoUnico .conteudoDepoimentoUnico div img {
  width: 75%;
  margin: 25px 0;
  height: auto;
  border-radius: 8px;
}
.depoimentoUnico .conteudoDepoimentoUnico div p {
  font-weight: 400;
  text-align: center;
}

.modulos {
  height: 100%;
  padding: 40px 0;
}
.modulos .conteudoModulos {
  width: 75%;
  margin: auto;
}
.modulos .conteudoModulos h2 {
  color: #535796;
}
.modulos .conteudoModulos p {
  font-weight: 400;
  text-align: center;
}
.modulos .conteudoModulos .accordionModulos {
  padding: 20px 0;
}
.modulos .conteudoModulos .accordionModulos .tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}
.modulos .conteudoModulos .accordionModulos .tabs .tab {
  width: 100%;
  color: white;
  overflow: hidden;
}
.modulos .conteudoModulos .accordionModulos .tabs .tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: #535796;
  border: 1px solid white;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
}
.modulos .conteudoModulos .accordionModulos .tabs .tab-label:hover {
  background-color: #535796;
}
.modulos .conteudoModulos .accordionModulos .tabs .tab-label::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.modulos .conteudoModulos .accordionModulos .tabs .tab-conteudo {
  display: hidden;
  overflow: hidden;
  max-height: 0px;
  padding: 0 1em;
  color: #535796;
  background: white;
  transition: all 0.8s;
}
.modulos .conteudoModulos .accordionModulos .tabs .tab-conteudo p {
  font-weight: 400;
  text-align: left;
}
.modulos .conteudoModulos .accordionModulos .tabs .tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.modulos .conteudoModulos .accordionModulos .tabs .tab input:checked + .tab-label {
  background: #414475;
}
.modulos .conteudoModulos .accordionModulos .tabs .tab input:checked + .tab-label::after {
  transform: rotate(90deg);
}
.modulos .conteudoModulos .accordionModulos .tabs .tab input:checked ~ .tab-conteudo {
  display: block;
  max-height: 100vh;
  padding: 1em;
}

.bonusUm {
  height: 100%;
  padding: 40px 0;
  background-color: #535796;
}
.bonusUm .conteudoBonus {
  width: 75%;
  margin: auto;
}
.bonusUm .conteudoBonus h2 {
  color: white;
  margin-bottom: 40px;
}
.bonusUm .conteudoBonus div h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
}
.bonusUm .conteudoBonus div h3 svg {
  margin-right: 10px;
}
.bonusUm .conteudoBonus div p {
  color: white;
  font-weight: 400;
  text-align: center;
}
.bonusUm .conteudoBonus .btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bonusUm .conteudoBonus .btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 8px;
  margin: 20px 0;
  text-align: center;
  line-height: 22px;
  background-color: #f40;
  box-shadow: 0 8px 1px #cc3600;
  color: white;
  border: none;
  border-radius: 14px;
  height: 60px;
  width: 100%;
}
.bonusUm .conteudoBonus .btn p {
  font-size: 0.9em;
}
.bonusUm img {
  width: 100%;
  position: relative;
  bottom: -44px;
  right: center;
}

.bonusDois {
  height: 100%;
  padding: 40px 0;
  background-color: #ECECEB;
}
.bonusDois .conteudoBonusDois {
  width: 75%;
  margin: auto;
}
.bonusDois .conteudoBonusDois h2 {
  color: #f40;
}
.bonusDois .conteudoBonusDois .gridBonusDois {
  display: flex;
  flex-direction: column;
}
.bonusDois .conteudoBonusDois .gridBonusDois div {
  justify-content: center;
  align-items: center;
}
.bonusDois .conteudoBonusDois .gridBonusDois div h3 {
  color: #f40;
  text-align: center;
  font-size: 62px;
  line-height: 20px;
}
.bonusDois .conteudoBonusDois .gridBonusDois div h4 {
  text-align: center;
  font-size: 1.2em;
}
.bonusDois .conteudoBonusDois .gridBonusDois div p {
  font-weight: normal;
  text-align: center;
}
.bonusDois .conteudoBonusDois .gridBonusDois div p:nth-last-child(2) {
  font-weight: bold;
  font-size: 1.8em;
  margin: 10px 0;
}
.bonusDois .conteudoBonusDois .btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bonusDois .conteudoBonusDois .btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 8px;
  margin: 20px 0;
  text-align: center;
  line-height: 22px;
  background-color: #f40;
  box-shadow: 0 8px 1px #cc3600;
  color: white;
  border: none;
  border-radius: 14px;
  height: 60px;
  width: 100%;
}
.bonusDois .conteudoBonusDois .btn p {
  font-weight: normal;
  font-size: 0.9em;
}
.bonusDois .conteudoBonusDois .btn p s {
  font-size: 2em;
  font-weight: bold;
  color: #f40;
}
.bonusDois .conteudoBonusDois .btn p strong {
  font-size: 2.8em;
}
.bonusDois .conteudoBonusDois .btn p:nth-child(2) {
  font-size: 1.2em;
  line-height: 2em;
  margin: 5px 0;
  text-align: center;
}
.bonusDois .conteudoBonusDois .btn p:nth-child(1) {
  margin-top: 20px;
  margin-bottom: 5px;
}

.resultadosDois {
  height: 100%;
  padding: 40px 0;
}
.resultadosDois .conteudoResultadosDois {
  width: 75%;
  margin: auto;
}
.resultadosDois .conteudoResultadosDois h2 {
  color: #535796;
}
.resultadosDois .conteudoResultadosDois iframe {
  width: 100%;
  min-height: 35vh;
  border-radius: 8px;
  margin: 10px 0;
}
.resultadosDois .conteudoResultadosDois p {
  font-weight: normal;
  font-size: 0.9em;
  text-align: center;
}

.garantia {
  height: 100%;
  padding: 40px 0;
  background-color: #ECECEB;
}
.garantia .conteudoGarantia {
  width: 75%;
  margin: auto;
}
.garantia .conteudoGarantia:not(.btn) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.garantia .conteudoGarantia h2 {
  color: #535796;
}
.garantia .conteudoGarantia img {
  width: 65%;
}
.garantia .conteudoGarantia p {
  font-weight: normal;
  text-align: center;
}
.garantia .conteudoGarantia .btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.garantia .conteudoGarantia .btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 8px;
  margin: 20px 0;
  text-align: center;
  line-height: 22px;
  background-color: #f40;
  box-shadow: 0 8px 1px #cc3600;
  color: white;
  border: none;
  border-radius: 14px;
  height: 60px;
  width: 100%;
}
.garantia .conteudoGarantia .btn p {
  font-weight: normal;
  font-size: 0.9em;
}

.autor {
  height: 100%;
  padding: 40px 0;
  background-color: black;
}
.autor .conteudoAutor {
  width: 75%;
  margin: auto;
}
.autor .conteudoAutor h2 {
  text-align: left;
  color: white;
}
.autor .conteudoAutor div {
  width: 30%;
  height: 2px;
  background-color: white;
}
.autor .conteudoAutor p {
  text-align: center;
  color: white;
}
.autor .conteudoAutor img {
  width: 100%;
  border-radius: 50%;
  margin: 20px 0;
}

.cta {
  height: 100%;
  padding: 40px 0;
}
.cta .conteudoCta {
  width: 75%;
  margin: auto;
}
.cta .conteudoCta h2 {
  color: #f40;
}
.cta .conteudoCta h3 {
  color: #f40;
  margin-top: 30px;
}
.cta .conteudoCta p {
  text-align: center;
}
.cta .conteudoCta p:nth-child(1) {
  line-height: 2.5em;
  margin-top: -5px;
}
.cta .conteudoCta p strong {
  font-size: 2.8em;
}
.cta .conteudoCta .btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cta .conteudoCta .btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 8px;
  margin: 20px 0;
  text-align: center;
  line-height: 22px;
  background-color: #f40;
  box-shadow: 0 8px 1px #cc3600;
  color: white;
  border: none;
  border-radius: 14px;
  height: 60px;
  width: 100%;
}
.cta .conteudoCta .btn img {
  width: 100%;
}
.cta .conteudoCta .btn p {
  font-weight: normal;
  font-size: 1.3em;
}
.cta .conteudoCta .btn p:nth-child(1) {
  margin-bottom: 2px;
}
.cta .conteudoCta .btn p:nth-child(2n) {
  font-size: 1.1em;
}

.faq {
  height: 100%;
  padding: 40px 0;
}
.faq .conteudoFaq {
  width: 75%;
  margin: auto;
}
.faq .conteudoFaq h2 {
  color: #535796;
}
.faq .conteudoFaq p {
  font-weight: 400;
  text-align: center;
}
.faq .conteudoFaq .accordionFaq {
  padding: 20px 0;
}
.faq .conteudoFaq .accordionFaq .tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}
.faq .conteudoFaq .accordionFaq .tabs .tab {
  width: 100%;
  color: white;
  overflow: hidden;
}
.faq .conteudoFaq .accordionFaq .tabs .tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: #535796;
  border: 1px solid white;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
}
.faq .conteudoFaq .accordionFaq .tabs .tab-label:hover {
  background-color: #535796;
}
.faq .conteudoFaq .accordionFaq .tabs .tab-label::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.faq .conteudoFaq .accordionFaq .tabs .tab-conteudo {
  display: hidden;
  overflow: hidden;
  max-height: 0px;
  padding: 0 1em;
  color: #535796;
  background: white;
  transition: all 0.8s;
}
.faq .conteudoFaq .accordionFaq .tabs .tab-conteudo p {
  font-weight: 400;
  text-align: left;
}
.faq .conteudoFaq .accordionFaq .tabs .tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.faq .conteudoFaq .accordionFaq .tabs .tab input:checked + .tab-label {
  background: #414475;
}
.faq .conteudoFaq .accordionFaq .tabs .tab input:checked + .tab-label::after {
  transform: rotate(90deg);
}
.faq .conteudoFaq .accordionFaq .tabs .tab input:checked ~ .tab-conteudo {
  display: block;
  max-height: 100vh;
  padding: 1em;
}

@media screen and (min-width: 600px) {
  header, footer, section {
    width: 50%;
    margin: auto;
  }

  .metodoUm, .metodoDois, .pqServe {
    width: 50%;
    margin: auto;
  }
}/*# sourceMappingURL=CaoBemResolvido.css.map */