$corPrimaria: #f40;
$corSecundaria: #535796;

.headerCBR {
  height: 90vh;
  background-color: white;
  text-align: center;
  background-image: url("./assets/img/header1.jfif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  .bgHeader {
    height: 100%;
    background-color: rgba(255,255,255, .80);

  }

  .containerHeader {
    width: 75%;
    margin: auto;
    padding-top: 40px;
    
    h1 {
      display: inline;
      font-size: 28px;
      font-weight: 900;
      background-color: rgba(255, 255, 255, .92);
      color: $corSecundaria;
    }

    p {
      display: inline;
      line-height: 1em;
      margin-top: 25px;
      background-color: rgba(255, 255, 255, .92);
      color: #777;
      font-weight: 400;
    }

    iframe {
      width: 100%;
      min-height: 35vh;
      margin: 20px 0;
      border-radius: 12px;
    }

    button {
      padding: 5px 8px;
      font-size: 22px;
      line-height: 22px;
      background-color: $corPrimaria;
      color: white;
      border: none;
      border-radius: 14px;
      height: 60px;
      width: 100%;
    }

    sub {
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.resultadosUm {
  background-image: url("./assets/img/patas.jfif");
  background-repeat: repeat;
  background-size: fill;

  .bgResultadosUm {
    background-color: rgba(255,255,255, .95);
  }
}

.metodoUm {
  height: 100%;
  width: 100%;
  background-color: $corSecundaria;
  padding: 40px 0;

  .conteudoMetodoUm {
    width: 75%;
    margin: 0px auto;

    h2 {
      line-height: 1em;
      text-align: center;
      color: white;
    }

    p {
      line-height: 1.5em;
      text-align: center;
      color: white;
      font-weight: 400;
      margin: 35px 0;

      strong {
        font-weight: 600;
      }
    }
  }
}

.metodoDois {
  height: 100%;
  width: 100%;
  background-color: white;
  padding: 40px 0;

  .conteudoMetodoDois {
    width: 75%;
    margin: 0px auto;

    h2 {
      line-height: 1em;
      text-align: center;
      color: $corSecundaria;
      max-width: 30ch;
    }
  
    p {
      line-height: 1.5em;
      text-align: center;
      color: gray;
      font-weight: 400;
      margin: 35px 0;

      strong {
        font-weight: 600;
      }
    }

    button {
      padding: 5px 8px;
      font-size: 22px;
      line-height: 22px;
      background-color: $corPrimaria;
      color: white;
      border: none;
      border-radius: 14px;
      height: 60px;
      width: 100%;
    }
  }
}

#whatsapp {
  background-color: #26CC64;
  position: fixed;
  bottom: 15px;
  left: 15px;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  border: none;
  box-shadow: -1px 2px 15px #aaa;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    color: white;
  }
}