$corPrimaria: #f40;
$corSecundaria: #535796;
$corFundo: #ECECEB;

.headerCBR {
  height: 90vh;
  background-color: white;
  text-align: center;
  background-image: url("./assets/img/header1.jfif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  .bgHeader {
    height: 100%;
    background-color: rgba(255,255,255, .80);

  }

  .containerHeader {
    width: 75%;
    margin: auto;
    padding: 40px 0;
    
    h1 {
      display: inline;
      font-size: 28px;
      font-weight: 900;
      background-color: rgba(255, 255, 255, .92);
      color: $corSecundaria;
    }

    p {
      display: inline;
      line-height: 1em;
      margin-top: 25px;
      background-color: rgba(255, 255, 255, .92);
      color: #777;
      font-weight: 400;
    }

    iframe {
      width: 100%;
      min-height: 35vh;
      margin: 20px 0;
      border-radius: 12px;
    }

    button {
      padding: 12px 5px;
      font-size: 22px;
      line-height: 1em;
      background-color: $corPrimaria;
      color: white;
      border: none;
      border-radius: 14px;
      width: 100%;
    }

    sub {
      font-size: 14px;
      font-weight: 400;
      color: #777;
    }
  }
}

.resultadosUm {
  background-image: url("./assets/img/patas.jfif");
  background-repeat: repeat;
  background-size: fill;

  .bgResultadosUm {
    background-color: rgba(255,255,255, .95);
  }
}

.metodoUm {
  height: 100%;
  width: 100%;
  background-color: $corSecundaria;
  padding: 40px 0;

  .conteudoMetodoUm {
    width: 75%;
    margin: 0px auto;

    h2 {
      line-height: 1em;
      text-align: center;
      color: white;
    }

    p {
      line-height: 1.5em;
      text-align: center;
      color: white;
      font-weight: 400;
      margin: 35px 0;

      strong {
        font-weight: 600;
      }
    }
  }
}

.metodoDois {
  height: 100%;
  width: 100%;
  background-color: white;
  padding: 40px 0;

  .conteudoMetodoDois {
    width: 75%;
    margin: 0px auto;

    h2 {
      line-height: 1em;
      text-align: center;
      color: $corSecundaria;
      max-width: 30ch;
    }
  
    p {
      line-height: 1.5em;
      text-align: center;
      color: gray;
      font-weight: 400;
      margin: 35px 0;

      strong {
        font-weight: 600;
      }
    }

    .btnSatisfacao {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      button {
        padding: 5px 8px;
        font-size: 22px;
        line-height: 22px;
        background-color: $corPrimaria;
        color: white;
        border: none;
        border-radius: 14px;
        height: 60px;
        width: 100%;
      }
  
      img {
        margin: 10px 0;
      }
    }
  }
}

.pqServe {
  height: 100%;
  width: 100%;
  padding: 40px 0;
  background-color: $corSecundaria;

  .conteudoPqServe {
    width: 75%;
    margin: auto;

    h2 {
      line-height: 1em;
      text-align: center;
      color: white;
    }

    p {
      font-weight: 400;
      color: white;
      text-align: center;
    }

    .gridPqServe {
      height: 60vh;
      display: grid;
      grid-template: 45% 45% / auto auto;
      grid-gap: 5px;
      justify-content: center;
      align-items: center;

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        svg {
          color: white;
        }

        p {
          text-align: center;
          color: white;
          font-weight: 400;
        }
      }
    }
  }
}

.depoimentoUnico {
  height: 100%;
  padding: 40px 0;
  background-color: $corFundo;
  
  .conteudoDepoimentoUnico {
    width: 75%;
    margin: auto;

    h2 {
      color: $corSecundaria;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .quoteUm {
        color: $corSecundaria;
        align-self: flex-start;
      }
      
      .quoteDois {
        color: $corSecundaria;
        align-self: flex-end;
      }

      img {
        width: 75%;
        margin: 25px 0;
        height: auto;
        border-radius: 8px;

        
      }

      p {
        font-weight: 400;
        text-align: center;
      }
    }
  }
}

.modulos {
  height: 100%;
  padding: 40px 0;

  .conteudoModulos {
    width: 75%;
    margin: auto;

    h2 {
      color: $corSecundaria;
    }

    p {
      font-weight: 400;
      text-align: center;
    }

    .accordionModulos {
      padding: 20px 0;

      .tabs {
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 4px -2px rgba(0,0,0,.5);

        .tab {
          width: 100%;
          color: white;
          overflow: hidden;

          &-label {
            display: flex;
            justify-content: space-between;
            padding: 1em;
            background-color: $corSecundaria;
            border: 1px solid white;
            border-radius: 8px;
            font-weight: bold;
            font-size: 1.2em;
            cursor: pointer;

            // icon
            &:hover {
              background-color: $corSecundaria;
            }

            &::after {
              content: "\276F";
              width: 1em;
              height: 1em;
              text-align: center;
              transition: all .35s;
            }
          }
          
          // Conteudo da tab
          &-conteudo {
            display: hidden;
            overflow: hidden;
            max-height: 0px;
            padding: 0 1em;
            color: $corSecundaria;
            background: white;
            transition: all .8s;

            p {
              font-weight: 400;
              text-align: left;
            }
          }
          
          input {
            position: absolute;
            opacity: 0;
            z-index: -1;
    
            &:checked {
              + .tab-label {
                background: darken($corSecundaria, 10%);
    
                &::after {
                  transform: rotate(90deg)
                }
              }
              
              ~ .tab-conteudo {
                display: block;
                max-height: 100vh;
                padding: 1em;
              }
            }
          }
        }
      }
    }
  }
}

footer {
  height: 100%;
  background-color: black;
  padding: 40px 0;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: auto;

    h2 {
      color: white;
      font-size: 24px;
    }

    p {
      text-align: center;
      line-height: 1.2em;
      color: white;
    }

    a {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px;
      margin: 30px 0;
      width: 75%;
      height: 60px;
      background-color: #26CC64;
      color: white;
      border-radius: 15px;
      box-shadow: 0px 8px 1px darken(#0f0, 25%);
      text-transform: uppercase;
      font-weight: bold;

      span {
        margin-left: 5px;
      }
    }

    p:nth-last-child(1) {
      margin-top: 20px;
      font-size: .7em;
    }
  }
}

#whatsapp {
  background-color: #26CC64;
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: none;
  box-shadow: -1px 2px 15px #aaa;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    color: white;
  }
}
